<body>
    <app-patient-sidebar></app-patient-sidebar>
    <header>
        <nav>
            <ul class="nav_links">
                <li><a href="components/p-read-doctor">View Doctors</a></li>
                <li><a href="components/p-create-appointment">Book Appointment</a></li>
                <li><a href="components/p-read-medicine">View Medicines</a></li>
                <li><a href="components/p-read-department">View Departments</a></li>
                <li><a href="components/p-read-disease">View Diseases</a></li>
            </ul>
        </nav>
    </header>
</body>
