<app-patient-sidebar></app-patient-sidebar>
<body>
  <header>
      
    <nav>
      <ul class="nav_links">
          <li><a href="components/p-read-appointments">View Appointment</a></li>
          <li><a href="components/p-create-appointment">Book Appointments</a></li>
          <li><a href="components/p-read-medicine">View Medicines</a></li>
          <li><a href="components/p-read-departments">View departments</a></li>
          <li><a href="components/p-read-doctor">View Doctors</a></li>
          <li><a href="components/p-read-diseases">View Diseases</a></li>
          <li><a href="components/p-read-diagnose">View Diagnosis</a></li>
      </ul>
  </nav>
  </header>
</body>