
<app-doctor-sidebar></app-doctor-sidebar>
<body>
    <header>
        
      <nav>
        <ul class="nav_links">
            <li><a href="components/d-read-patient">View Patients</a></li>
            <li><a href="components/d-read-appointment">View Appointments</a></li>
            <li><a href="components/d-read-medicine">View Medicines</a></li>
            <li><a href="components/d-create-prescription">Create Prescription</a></li>
            <li><a href="components/d-read-diagnose">View Diagnosis</a></li>
            <li><a href="components/d-read-diseases">View Diseases</a></li>
            <li><a href="components/d-read-specializations">View Specializations</a></li>
    
        </ul>
    </nav>
    </header>
</body>

