<app-admin-header></app-admin-header>
<br> <br>
<div class="regForm">
    <h2>
        Add Specialization
    </h2>
</div>
<div class="mane">

    <form [formGroup]="specializationForm">
        <div id="name">

            <h2 class="name">Specialization ID</h2>
            <input class="docId" type="number" formControlName="SpecId"
                placeholder="Enter Specialization Id">

            <h2 class="name">Specialization Name</h2>
            <input class="firstname" type="text" formControlName="SpecDesc" placeholder="Enter Specialization Description">


            <br> <br>
            <div class="col-lg-6 mt-2" *ngIf="!getparamid" (click)="SubmitData()">
                <button class="btn btn-dark btn-sm">Submit</button>
                
            </div>

            <div class="col-lg-6 mt-2" *ngIf="getparamid" (click)="UpdateData()">
                <button class="btn btn-primary btn-sm">Update</button>
            </div>

            <br><br>
            <!-- show errormsg -->
            <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{errormsg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div *ngIf="successmsg" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{successmsg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </form>


</div>