<app-admin-sidebar></app-admin-sidebar>
<body>
    <header>
        
        <nav>
            <ul class="nav_links">
                <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Patients
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-patient">Create</a>
                      <a class="dropdown-item" href="components/edit-patient">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-patient">View</a>
                    </div>
                  </li>
                  <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Appointments
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-appointments">Create</a>
                      <a class="dropdown-item" href="components/edit-appointments">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-appointments">View</a>
                    </div>
                  </li>
                  <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Departments
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-department">Create</a>
                      <a class="dropdown-item" href="components/edit-department">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-department">View</a>
                    </div>
                  </li>
                  <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Medicines
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-medicines">Create</a>
                      <a class="dropdown-item" href="components/edit-medicines">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-medicines">View</a>
                    </div>
                  </li>
                  <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Prescriptions
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-prescription">Create</a>
                      <a class="dropdown-item" href="components/edit-prescription">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-prescription">View</a>
                    </div>
                  </li>
                  <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Disease
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-disease">Create</a>
                      <a class="dropdown-item" href="components/edit-disease">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-disease">View</a>
                    </div>
                  </li>
                  <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Specializations
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-specializations">Create</a>
                      <a class="dropdown-item" href="components/edit-specializations">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-specializations">View</a>
                    </div>
                  </li>
                  <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Diagnostics
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-diagnose">Create</a>
                      <a class="dropdown-item" href="components/edit-diagnose">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-diagnose">View</a>
                    </div>
                  </li>
                  <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Doc-Specialization
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-doc-specialization">Create</a>
                      <a class="dropdown-item" href="components/edit-doc-specialization">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-doc-specialization">View</a>
                    </div>
                  </li>
                <li ngbDropdown class="nav-item dropdown ">
                    

                    <a ngbDropdownToggle class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Doctors
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="components/create-doctor">Create</a>
                      <a class="dropdown-item" href="components/edit-doctor">Edit</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="components/read-doctor">View</a>
                    </div>
                  </li>
            </ul>
            
        </nav>
    </header>
</body>

